<div class="py-5">
  <div class="card min-h-100">
    <div class="d-flex justify-content-between px-3 align-items-center">
      <span class="fs-2 fw-bold">List Employee</span>
      <i class="bi bi-plus fs-2" role="button" (click)="addEmployee()"></i>
    </div>
    <form
      #registerForm="ngForm"
      (ngSubmit)="onSearch(registerForm.value)"
      class="d-flex align-items-center"
    >
      <input
        class="mx-3"
        type="text"
        name="username"
        placeholder="Search Employee by Username..."
        ngModel
        style="width: 300px"
      />
      <select name="group" style="width: 300px" [ngModel]="0">
        <option value="0">Select Group</option>
        <ng-template ngFor let-item [ngForOf]="group" let-i="index">
          <option [value]="item">{{ item }}</option>
        </ng-template>
      </select>
      <button
        type="submit"
        style="border: 0px; background: transparent; width: max-content"
      >
        <i class="bi bi-search"></i>
      </button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th
            class="align-items-center"
            style="cursor: pointer"
            scope="col"
            (click)="onSort(sortBasicSalary.name, sortBasicSalary.type)"
          >
            <span>Basic Salary</span>
            <i
              [class]="
                sortBasicSalary.type == 'ASC'
                  ? 'bi bi-chevron-down'
                  : 'bi bi-chevron-up'
              "
            ></i>
          </th>
          <th scope="col">Group</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="h-10">
        <!-- <ng-template > -->
        <tr *ngFor="let item of data; index as i">
          <th scope="row">{{ limit * (pageIndex - 1) + i + 1 }}</th>
          <td>{{ item.username }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>
            {{ item.basicSalary | currency: "IDR":"symbol-narrow":"4.2-2" }}
          </td>
          <td>{{ item.group }}</td>
          <td class="d-flex gap-3">
            <i
              class="bi bi-person-badge"
              role="button"
              (click)="editEmployee(item)"
            ></i>
            <i
              class="bi bi-trash"
              role="button"
              (click)="chooseData(item)"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            ></i>
          </td>
        </tr>
        <!-- </ng-template> -->
      </tbody>
    </table>
    <nav
      aria-label="Page navigation example"
      class="d-flex justify-content-end px-1"
    >
      <div class="d-flex gap-3 align-items-center">
        <select (click)="onChangeLimit($event)" [ngModel]="limit">
          <ng-template ngFor let-item [ngForOf]="limits" let-i="index">
            <option [value]="item">{{ item }}</option>
          </ng-template>
        </select>
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              href="javascript:void(0)"
              (click)="onPrevious()"
              >Previous</a
            >
          </li>
          <ng-template ngFor let-item [ngForOf]="totalPage" let-i="index">
            <li class="page-item">
              <a
                class="page-link"
                href="javascript:void(0)"
                (click)="onChangePage(item)"
                >{{ item + 1 }}</a
              >
            </li>
          </ng-template>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="onNext()"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Data</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure to delete data {{ dataEmployee?.username }}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="d-flex w-100 gap-3">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="deleteEmployee(dataEmployee)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
