@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  background-color: blue;
  height: 100%;
}

input,button,select {
  border-radius: 10px;
  padding: 10px 10px;
}
