<div class="">
  <div class="card p-3">
    <span class="text-dark fs-1 py-1 fw-bold">Register</span>
    <div class="d-flex flex-column">
      <div *ngIf="message.length > 0" class="w-100">
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      </div>
      <form
        #registerForm="ngForm"
        (ngSubmit)="onClickButton(registerForm.value)"
      >
        <input type="text" name="email" placeholder="Email" ngModel />
        <input type="password" name="password" placeholder="Password" ngModel />
        <button type="submit">Daftar</button>
      </form>
      <span>Already have account? <a href="/login">Login</a></span>
    </div>
  </div>
</div>
